@charset "ISO-8859-1";

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: gray;
	text-align: center;
}

th{
	color: white;
	
}

button {
	padding: 10px;
	text-decoration: none;
	color: black;
	border-radius: 5px;
	cursor: pointer;
}
